


<form class="validate edit_from" novalidate="novalidate" style="width: auto">
	<div class="row">

		<div class="col-md-4">
			<div class="form-group">
				<label for="field-2" class="control-label">真实姓名</label>
				<input type="text" class="form-control" name="truename" value="{$info.truename}" maxlength="8">
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label for="field-2" class="control-label">手机号</label>
				<input type="text" class="form-control" name="phone" value="{$info.phone}">
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label for="field-2" class="control-label">邮箱</label>
				<input type="text" class="form-control" name="email" value="{$info.email}">
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">部门</label>
				<select class="form-control" name="department">
					<option value="默认" >默认</option>
					{volist name='departments' key='k' id='vo'}
					<option value="{$k}" {eq name="k" value= "$info.department" } selected="selected" {/eq}>{$vo}</option>
					{/volist}
				</select>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				<textarea class="form-control autogrow" name="desc" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;">{$info.desc}</textarea>
			</div>
		</div>
	</div>

	<input type="hidden" name="id" value="{$info.id}">
</form>
