


<form class="validate add-form" novalidate="novalidate" style="width: auto">

	<div class="row">	
		<div class="col-md-12">
			<div class="form-group">
				<label for="field-2" class="control-label">订单号</label>
				<input type="text" class="form-control" name="sn" placeholder="订单号" value="SN{:date('Ymdhis',time())}{:rand(10000,99999)}">
			</div>	
		</div>
        <div class="col-md-12"> </div>
	</div>

    <div class="row">   
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">制单人</label>
                <input type="text" class="form-control" name="author" placeholder="制单人" value="{$my_info->truename}">
            </div>  
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">出库类型</label>
                <select class="form-control" name="type">
                    <option value="采购出库" >采购出库</option>
                    <option value="销售退货" >销售退货</option>
                </select>  
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">供应商</label>
                <select class="form-control" name="supplier">
                        <option value="默认" >默认</option>
                        {volist name='supplier' id='vo'}
                        <option value="{$vo.name}">{$vo.name}</option>
                        {/volist}
                </select>  
            </div>
        </div>        
    </div>


    <div class="row">   
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">出库复核人员</label>
                <input type="text" class="form-control" name="outstorage_checker" placeholder="出库复核人员" value="{$my_info->truename}">
            </div>  
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">保管员</label>
                <input type="text" class="form-control" name="outstorage_curator" placeholder="保管员" value="{$my_info->truename}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">提货人</label>
                <input type="text" class="form-control" name="outstorage_consignee" placeholder="提货人" value="{$my_info->truename}">
            </div>
        </div>
    </div>


    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr role="row">
                <th></th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    产品名称
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    出库数
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    单位
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    有效期
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd order-list">
                <td>
                    <a href="javascript:void(0);" onclick="add_list(this)"> [ + ] </a> 
                </td>
                <td> 
                    <select name="product[]" class="form-control" onchange="changeProduct(this)">
                        <option value="">请选择商品</option>
                        {volist name='product' id='vo'}
                        <option value="{$vo.sn}_{$vo.name}_{$vo.price}_{$vo.storage}_{$vo.unit}">{$vo.name}</option>
                        {/volist}
                    </select> 
                </td>
                <td><input type="text" class="form-control" value="" name="num[]"></td>
                <td><input type="text" class="form-control" value="" name="unit[]" disabled="disabled" style="text-align: center;"></td>
                <td class="col-md-2"><input type="date" class="form-control" value="" name="time[]" ></td>
                <td>
                	<a class="delete" href="javascript:void(0)" onclick="del_list(this)"> [ - ] </a>
                </td>
            </tr>

        </tbody>
    </table>


    <script>
        function changeProduct(obj){
            var a = $(obj).val();
            strs=a.split("_");
            $(obj).parent().next().next().children('input').val(strs[4]);
        }
    </script>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				<textarea class="form-control autogrow" name="desc" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
			</div>	
		</div>
	</div>

	
</form>






<script>

function add_list(obj){
    // $(obj).parent().parent().hide();
    $(obj).parent().parent().clone().appendTo( $(obj).parent().parent().parent() );
}

function del_list(obj){
    $(obj).parent().parent().remove();
}

</script>