
<form class="validate add-form" novalidate="novalidate" style="width: auto">

    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">部门名称</label>
                <input type="text" class="form-control" name="name" placeholder="请输入部门名称，避免重复名称" maxlength="8">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group no-margin">
                <label for="field-7" class="control-label">备注</label>
                <textarea class="form-control autogrow" name="desc" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
            </div>
        </div>
    </div>
</form>
